body {
    background-image: url(/images/web.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h5 { background-color: darkslategray;
    color: white
    text-align: center;
  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
  
  h2 { background-color: lightslategrey;
    text-align: center;
  }
  .important {
    color:black;
  }
  .unimportant {
    color: blue;
  } 